{% load static %}
<!doctype html>
<html lang='fr'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <title>{% block title %}webtravel{% endblock %}</title>
  <link rel='icon' href='{% static "applitravel/img/favicon.png" %}'>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet'>
  <link rel='stylesheet' href='{% static "applitravel/css/styles.css" %}'>
</head>
<body class='d-flex flex-column min-vh-100'>
  {% include 'applitravel/menu.html' %}
  <main class='container py-4 flex-fill'>
    {% block main %}{% endblock %}
  </main>
  {% include 'applitravel/footer.html' %}
  <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js'></script>
</body>
</html>