{% extends "applitravel/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Nouveau mot de passe</h2>
    {% if validlink %}
        <p>Veuillez entrer votre nouveau mot de passe deux fois.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
        </form>
    {% else %}
        <p>Le lien de réinitialisation de mot de passe est invalide, probablement parce qu'il a déjà été utilisé. Veuillez redemander une réinitialisation de mot de passe.</p>
    {% endif %}
</div>
{% endblock %}
