.dashboard-card {
    margin-bottom: 20px;
    transition: transform .2s; /* Animation */
}

.dashboard-card:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.dashboard-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    text-align: center;
}

.dashboard-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.dashboard-card .card-text {
    font-size: 1.1rem;
    flex-grow: 1;
}

.btn-light, .btn-secondary {
    font-weight: bold;
}
